.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# generated application storage
storage/

# Next.js
.next/

# dependencies
node_modules/
